.feed {
    width: 600px;
    /* background-color: green; */
    margin-top: 20px;
    margin-left: 300px;
}
.feedImg>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid transparent;
    outline: 3px solid red;
    margin: 0 10px;
}