.LeftSideBar {
    width: 230px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    border-right: 1px solid lightgray;
    position: fixed;
    left: 0;
}
.LeftSideBarTop>img{
    width: 100px;
    margin: 40px 0 30px 20px;
}

.allOptions {
    display: flex;
    flex-direction: column;
}
.oneOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    border-radius: 7px;
    transition: all 0.2 ease-in-out;
}
.oneOptions:hover{
    background-color: #f5f5f5;
    cursor: pointer;
    transform: scale(1.02);
}
.oneOptions>h1 {
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    margin-left: 12px;
}